<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
              stdoutLogEnabled="true" stdoutLogFile="fake.log" startupTimeLimit="20"
              processPath="%HOME%\site\wwwroot\packages\FAKE\tools\FAKE.exe"
              arguments="%HOME%\site\wwwroot\app.azure.fsx port=%HTTP_PLATFORM_PORT%" >
      <environmentVariables>
        <environmentVariable name="MicrosoftAppID" value="35a4f96e-4d38-4996-aaff-e82a59c0211c"/> 
        <environmentVariable name="MicrosoftAppPassword" value="rUvpht3sp0cNUEmH7Q0X94c"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
